.move_object_into_scene {
  -webkit-animation: move_in 10s forwards; /* Safari 4.0 - 8.0 */
  animation: move_in 10s forwards;
}
.move_object_out_from_scene {
  -webkit-animation: move_out 10s forwards; /* Safari 4.0 - 8.0 */
  animation: move_out 10s forwards;
}
.object_stop_location {top:42%;left:20%;transform:scale(1, 1);}



/* Move object in */
@keyframes move_in {
  0% {top:22%;left:-50%;}
  100% {top:42%;left:20%;transform:scale(1, 1);}
}
/* Move object out */
@keyframes move_out {
  0% {top:42%;left:20%;transform:scale(1, 1);}
  100% {top:85%;left:130%;transform:scale(1.3, 1.3);}
}